@font-face{
	src : url("../data/fonts/Noto_Sans/NotoSans-Regular.ttf");
	font-family : "noto"
}
*{
	margin : 0px;
	padding : 0px;
	font-family : "noto"
}
a{
	text-decoration : none;
	color : black;
}
/*header*/
#title{
	display : grid;
	grid-template-columns : 200px 1fr 200px;
	margin : 50px 70px 20px 70px;
}
#grid-title h1 {
	display : flex;
	flex-direction : row;
	align-items : center;
	padding-left : 10px;
	color : black;
}
#grid-title img{
	padding-right : 10px;
	width : 50px;
	height : 50px;
}
/*nav*/
#grid-nav{
	display: flex;
	flex-direction : row;
	align-items : center;
}
#grid-nav a{
	margin-right : 60px;

}
/*main1*/
#main1 {
    display : grid;
    place-items : center;
	height : 700px;
	width : auto;
}
#main-grid:hover > .text{
    visibility : visible;
    transition : linear 0.5s;
    opacity : 0.5;
}
#main-grid {
    display : grid;
    grid-template-rows : 1fr 1fr 1fr;
    grid-template-columns : 1fr 1fr 1fr 1fr;
    width : 600px;
    height : 400px;
    place-items : center;
    justify-content : auto;
}
.image{
    width : 80px;
    height : 80px;
    opacity : 0.7;
}
.text {
    visibility : hidden;
    opacity : 0;  
}
.text p{
    font-weight : 1000;
    font-size : 25px;
}
/*intro*/
/*#intro{
    width : auto;
    height : 700px;
}
*/
/*main2*/
#main2{
    width : auto;
    height : 700px;
    display : grid;
    grid-template-columns : 1fr 1fr 1fr;
    place-items : center;    
}
#main2 div{
    position : relative;
}
#main2 img{
    width : calc(100%);
    height : 700px;
    object-fit : cover;
    overflow : hidden;
    vertical-align : middle;
}
.text-2{
    position : absolute;
    text-align : center;
    top : 50%;
    left : 50%;
    transform : translate( -50%, -50%);
    opacity : 0;
    font-size : 50px;
    font-weight : bolder;
}
#main2 img:hover{
    opacity : 0.5;
    transition : linear 0.5s;
}
#main2 :hover > .text-2{
    opacity : 0.9;
    transition : linear 0.5s;
    pointer-events : none;
}
