*{
    margin: 0px; padding : 0px;
    font-family: "SeoulNamsan M";
}
a {
    text-decoration: none;
}
ul{
    list-style: none;
}
header {
    width: auto;
    height: 90px;
    border-bottom: 2px solid black;
    position: relative;
}
#logo {
    position: absolute;
    top: 10px;
    left: 20px;
}
#logo img{
    width: 90px;
}
#top_menu{
    position: absolute;
    bottom: 10px;
    right : 35px;
    font-size: 18px;
    font-weight: bold;

}
#top_menu ul{
    display: inline-block;
    list-style-type: none;
}
#top_menu a{
    color: black;
    margin: 5px;
    float: left;
    text-align: center;
}
#top_menu a:hover{
    color: brown;
    transition: text-color .5s;
}
#top_menu a:active{
    color: aquamarine;
}
#top_menu li{
    width: auto;
    height: 22;
    display: inline;
    margin: auto auto;
}
#mini_menu{
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    font-size: 12px;
}
#mini_menu a{
    color: black;
    padding : 5px;
}
#mini_menu a:hover{
    color: brown;
    transition: text-color .5s;
}
#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}
#topic {
    padding: 20px;
    border-right: 2px solid black;
}
#topic h4{
    margin-bottom: 15px;
    font-size: 22px;
}
#topic a{
    color: black;
    margin : 5px;
}
#topic ul{
    font-size : 20px;
}
#topic li{
    margin: 9px;
}

#sub_grid{
    display: grid;
    grid-template-rows: 60px 10fr;
}
#sub_grid h3{
    font-size: 22px;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
}
#img_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#img_grid img{
    text-align: center;
    padding: 5px;
}
#footer_logo img{
    padding: 20px;
}
#footer_logo p{
    padding: 20px;
    padding-top: 0px;
    font-size: 10px;
}
#footer_grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: gray;
}
#footer_nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}
#footer_nav h5{
    padding: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}
#footer_nav ul{
    padding-left: 5px;
    padding-bottom: 5px;
}
#social li{
    margin-bottom: 10px;
    margin-top: 10px;
}
#help li{
    margin-top: 10px;
    margin-bottom: 40px;
}
#footer_grid a{
    color : black;
}
#rights{
    width: auto;
    height: 50px;
}
footer h6{
    padding: 20px; 
    background-color: gray;
    text-align: center;
}

