@font-face{
    src : url("../../data/fonts/Noto_Sans/NotoSans-Regular.ttf");
    font-family : "noto";
}
* {
    padding : 0px;
    margin : 0px;
    font-family : "noto";
}
ul{
    list-style-type : none;
}
a{
    text-decoration : none;
    color : black;
}
body{
    background-image : url("../../data/img/sofa.jpg");
    background-size : cover;
    background-position : center;
    background-repeat : no-repeat;
    width : 100%;
    height : 100vh;
}

.title{
    position : absolute;
    top : 10%;
    left : 50%;
    transform : translate( -50%, -50%);
}
.main_grid{
    display : grid;
    grid-template-columns : 80px 1fr 230px;
    place-items : center;
    width : 100%;
    height : 100%;
}
.right{
    display : grid;
    grid-template-columns : 150px 80px;
    width : 100%;
    height : 100%;
}
.right img{
    display : flex;
    align-items : center;
    justify-content : center;
}
.main_menu{
    display : flex;
    justify-content : center;
    flex-direction : column;
    background-color : rgba(0,0,0,0.4);
    backdrop-filter : blur(10px);
}
.sub_menu{
    padding-left : 10px;
    font-weight : lighter;
}
.right li{
    padding: 15px 0px 15px 10px;
    font-weight : bolder;
}
.left img, .right img{
    width : 30px;
    height : auto;
    opacity : 0.7;
}
.right li:hover{
    color : white;
    transition : linear 0.1s;
}
