@font-face{
    src : url("../../data/fonts/Noto_Sans/NotoSans-Regular.ttf");
    font-family : "noto";
}
* {
    padding : 0px;
    margin : 0px;
    font-family : "noto";
}
a{
    text-decoration : none;
    color : black;
}
body{
    background-image : url("../../data/img/sofa.jpg");
    background-size : cover;
    background-position : center;
    background-repeat : no-repeat;
    width : 100%;
    height : 100vh;
}
#top{
    display : grid;
    grid-template-rows : 100px 1fr;
}
.top-grid{
    display :flex;
    align-items : center;
    justify-content : center;
}
.mid-grid{
    display : grid;
    grid-template-columns : 80px 1fr 80px;
    place-items : center;
}
.left img, .right img{
    width : 30px;
    height : 30px;
    opacity : 0.8;
    padding : auto;
}
.left:hover{
    background-color : rgba(0,0,0,0.5);
    transition : linear 0.3s;
}
