@font-face{
    src : url("../../data/fonts/Noto_Sans/NotoSans-Regular.ttf");
    font-family : "noto";
}
*{
    font-family : "noto";
    margin : 0px;
    padding : 0px;
}
#main-background{
    width : 100%;
    height : 100vh;
    background-image : url("../../data/img/background2.jpg");
    background-size : cover;
    background-position : center;
}
#main-background h1{
    position : absolute;
    top : 20%;
    left : 50%;
    transform : translate( -50%, -50%);
    color : white;
    font-weight : lighter;
}
#main-background a{
    position : absolute;
    bottom : 30%;
    left : 50%;
    transform : translate( -50%, -50%);
}
